{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">About</span>
</h1>

<div class="hero-logo">
  <img src="{{ "img/vmm1.jpg" | relURL }}">
</div>

<div style="text-align: center;">
  <br>My name is vimakine1 and my interests related to computer science include service design and engineering, software engineering, and user-centered design. Currently, I have been studying full-time since 2017. I am keen on developing myself academically to learn more, to combine my knowledge, to improve my skills to think critically, and to build a foundation for research and postgraduate studies, as well as deep self-learning. To some extent related to computer science, I am also interested in art, and have also chosen some art courses into my studying plan. In the beginning of spring season 2020, I will be open to new opportunities.<br><br><i>Photo: (c) vimakine1.</i> 
</div>
